<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/tour_detail.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PLANNA</a>
        </div>
        <div class="collapse navbar-collapse">
          <button type="button" class="btn btn-default navbar-btn navbar-right">Logout</button>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container" id="tour-detail">
      <div style="background-color: white; padding: 1em; width: 10em; border: solid 2px black;">
      <p margin-left: auto; margin-right: auto;><a href="/events/new">Add new events</a></p>
      </div>
      <div style="background-color: white; padding: 1em; width: 10em; border: solid 2px black;">
      <p margin-left: auto; margin-right: auto;><a href="/invite/invite">Invite</a></p>
      </div>
      <%= form_tag(:controller => :invite, :action => :invite) do %>
      <table class="table">
        <thead>
          <tr>
            <th>Check</th>
            <th>Date</th>
            <th>Events</th>
            <th><span class="glyphicon glyphicon-user" style="color:red"></span></th>
            <!-- tourists -->
            <th><span class="glyphicon glyphicon-user"></span></th>
            <th><span class="glyphicon glyphicon-user"></span></th>
            <!-- /tourists -->
          </tr>
        </thead>
        <tbody>
          <% @events.each do |date, day_events| %>
          <tr>
            <td></td>
            <td><%= date.strftime('%b %d') %></td>
            <td>
              <div class="row">
                <div class="col-md-3">
                  <% day_events.each do |event| %>
                  <div class="media">
                    <div class="pull-left"><span class="glyphicon glyphicon-user"></span></div>
                    <div class="media-body">
                      <h1 class="h4 media-heading"><%= event.from.strftime('%H:%M') %>-<%= event.to.strftime('%H:%M') %><%=event.name %></h1>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </td>
            <td>|</td>
            <td>|</td>
            <td>|</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>

  <!-- SCRIPTS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
