<!-- dell on 14 dec 2015
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/tour_detail.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<link rel="shortcut icon" href="">
dell on 14 dec 2015-->
<a href="#">PLANNA</a><br/>
<button type="button">Logout</button><br/>
<a href="/events/new">Add new events</a><br/>
<a href="/invite/invite">Invite</a><br/>

<table border>
  <tr>
    <th>Tour Name</th>
    <th>From</th>
    <th></th>
    <th>To</th>
  </tr>
  </tr>
  <% @tours.each do |tour| %>
      <tr>
        <th><%= tour.name %></th>
        <td><%= tour.from.strftime('%b %d, %Y') %></td>
        <td>-</td>
        <td><%= tour.to.strftime('%b %d, %Y') %></td>
      </tr>
  <% end %>
</table>

      <%= form_tag(:controller => :invite, :action => :invite) do %>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Events</th>
            <th>Participants</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |date, day_events| %>
          <tr>

            <td><%= date.strftime('%b %d') %></td>
            <td>
              <% day_events.each do |event| %>
                  <!-- <span class="glyphicon glyphicon-user"></span> -->
                  <input type="checkbox" /><%= event.from.strftime('%H:%M') %>-<%= event.to.strftime('%H:%M') %> <%=event.name %> <br />
              <% end %>
            </td>
            <td>
            <% day_events.each do |event| %>
                  <% event.users.each do |user| %>
                      <% if user.id == event.user_id %>
                          <strong><%= user.name %></strong>&nbsp;
                      <% else %>
                          <%= user.name %>&nbsp;
                      <% end %>
                  <% end %>
                  <br />
              <% end %>
            </td>
          </tr>
          <% end %>
          <td>
          </td>
        </tbody>
      </table>
      <% end %>

  <!-- SCRIPTS-->
<!-- dell on 14 dec 2015
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
dell on 14 dec 2015-->
