<%= stylesheet_link_tag "custom", :media => "all" %>
<%= image_tag 'planna_icon_login.png' %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: "email"  %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %><br />
  <% if devise_mapping.rememberable? -%><br />
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %><br />
  <% end -%>
    <%= f.submit "Log in" %>
<% end %>
<a href="#">Login with Facebook</a><br />
<a href="#">Register</a><br />
<a href="#">Forgot password</a><br />
<!-- <%= render "devise/shared/links" %> -->
