<div id="main">
You are <%= @user %>.
<%= @msg %>

<p>Your tours:</p>

<table border>
<tr>
  <th>Tour Name</th>
  <th>From</th>
  <th></th>
  <th>To</th>
</tr>
</tr>
<% @tours.each do |tour| %>
<tr>
  <th><%= tour.name %></th>
  <td><%= tour.from.strftime('%b %d, %Y') %></td>
  <td>-</td>
  <td><%= tour.to.strftime('%b %d, %Y') %></td>
</tr>
<% end %>
</table>

<p>Your events:</p>

<table border>
<% @user_events.each do |user_event| %>
<tr>
  <td><%= user_event.user_id %></td>
  <td><%= user_event.event_id %></td>
</tr>
<% end %>
</table>

<table border>
<% @events.each do |event| %>
<tr>
  <td><%= event.event_id %></td>
  <td><%= event.name %></td>
  <td><%= event.from.strftime('%b %d, %Y %H:%M') %></td>
  <td><%= event.to.strftime('%b %d, %Y %H:%M') %></td>
  <td><%= event.created_by %></td>
</tr>
<% end %>
</table>

</div>
