<div id="header">
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</div>

<div id="main">

<p>Your tours:</p>

<table border>
<tr>
  <th>Tour Name</th>
  <th>From</th>
  <th></th>
  <th>To</th>
</tr>
</tr>
<% @tours.each do |tour| %>
<tr>
  <th><%= tour.name %></th>
  <td><%= tour.from.strftime('%b %d, %Y') %></td>
  <td>-</td>
  <td><%= tour.to.strftime('%b %d, %Y') %></td>
</tr>
<% end %>
</table>

<p>Your events:</p>

<table border>
<% @events.each do |event| %>
<tr>
  <td><%= event.id %></td>
  <td><%= event.name %></td>
  <td><%= event.from.strftime('%b %d, %Y %H:%M') %></td>
  <td><%= event.to.strftime('%b %d, %Y %H:%M') %></td>
  <td><%= event.user_id %></td>
  <td>
    <% event.users.each do |user| %>
    <%= user.id %>&nbsp;
    <% end %>
  </td>
</tr>
<% end %>
</table>

</div>
